<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
<head>
    <title>$lefttitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="includes/templates/assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="includes/templates/assets/css/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="includes/templates/assets/css/select2.css" rel="stylesheet" media="screen">
    <link href="includes/templates/assets/css/gamecp.css" rel="stylesheet" media="screen">
    <link href="includes/templates/assets/css/upgrade_tool.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="./includes/templates/main.css" />

</head>

<body>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="..images/banner04.jpg" width="438" height="293" border="0" usemap="#Map" /></td>
    <td><img src="..images/banner05.jpg" width="524" height="293" border="0" usemap="#Map3" /></td>
    <td><img src="..images/banner06.jpg" width="440" height="293" border="0" usemap="#Map2" /></td>
  </tr>
</table>
<map name="Map3" id="Map3">
  <area shape="rect" coords="428,235,476,257" href="http://www.xtgbr.com/site/" target="_blank" alt="" />
  <area shape="rect" coords="1,235,80,258" href="#" target="_blank" alt="" />
</map>
<br/>
$message_to_user
<map name="Map" id="Map">
  <area shape="rect" coords="324,233,396,260" href="http://www.xtgbr.com/index.php" />
</map>

<map name="Map2" id="Map2">
  <area shape="rect" coords="-20,233,123,259" href="http://www.xtgbr.com/site/download_pvp.php" target="_blank" />
</map>